AIS_lab5(SOAP),/AIS_lab5/Service References/OurEnegryService/OurEnergyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChangeEnergyUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="tns:Energys" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="tns:Energys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Energys">
        <s:restriction base="s:string">
          <s:enumeration value="joule" />
          <s:enumeration value="kilojoule" />
          <s:enumeration value="megajoule" />
          <s:enumeration value="gigajoule" />
          <s:enumeration value="calorie" />
          <s:enumeration value="watthour" />
          <s:enumeration value="electronvolt" />
          <s:enumeration value="footpound" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeEnergyUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeEnergyUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeEnergyUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeEnergyUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeEnergyUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeEnergyUnitResponse" />
  </wsdl:message>
  <wsdl:portType name="OurEnergyServiceSoap">
    <wsdl:operation name="ChangeEnergyUnit">
      <wsdl:input message="tns:ChangeEnergyUnitSoapIn" />
      <wsdl:output message="tns:ChangeEnergyUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OurEnergyServiceSoap" type="tns:OurEnergyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeEnergyUnit">
      <soap:operation soapAction="http://tempuri.org/ChangeEnergyUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OurEnergyServiceSoap12" type="tns:OurEnergyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeEnergyUnit">
      <soap12:operation soapAction="http://tempuri.org/ChangeEnergyUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OurEnergyService">
    <wsdl:port name="OurEnergyServiceSoap" binding="tns:OurEnergyServiceSoap">
      <soap:address location="http://localhost:55733/OurEnergyService.asmx" />
    </wsdl:port>
    <wsdl:port name="OurEnergyServiceSoap12" binding="tns:OurEnergyServiceSoap12">
      <soap12:address location="http://localhost:55733/OurEnergyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>